<div>
    <div class="fondoImagen">
        <button (click)="seccionButton()" class="button-28 " role="button">Entrar</button>
    </div>
</div>








<!--
<p class="pEnImg"> No sabes cual celular comprarte? No sabes cual es mejor? Aqui Comp te resuelve todas tus dudas! Dandote la chance de comparar ambos elementos hasta al minimo detalle! Busca y elige entre secciones lo que quieres comparar, luego selecciona dos elementos de la seccion ya elegida y ve sus diferencias, registrate para tener una capacidad ilimitada de caracteristicas.</p>
-->