<div style="display: flex; flex-direction: column;">
    <div class="fondoImagen">
        <button (click)="seccionButton()" class="button-28 " role="button">Entrar</button>
    </div>
    <div style="background-color: #D8D5D5; ">
        <div style="width: 100%;margin: auto; display: flex; flex-direction: row; margin-top: 10%;margin-bottom: 10%; justify-content: center;">
            <div>
                <img style="height: 30vh; min-width: 100%;" src="../../../assets/lamejorimagencelularmenu.png" alt="Imagen">
            </div>
            <div >
                <p style="gap: 5px;font-weight: 600; font-size: large; display: flex; flex-direction: column; justify-content: center; height: 200px;"><span>No sabes cual celular comprarte?</span> <span>No sabes cual es mejor?</span> <span>Aqui Comp te resuelve todas tus dudas!</span> <span>Dandote la chance de comparar ambos elementos.</span> <span>Hasta al minimo detalle!</span></p>
            </div>
        </div>
    </div>
    <div style="gap: 3%;width: 100%;margin: auto; display: flex; flex-direction: row; margin-top: 10%;margin-bottom: 10%; justify-content: center;">
        <div>
            <p style="gap: 5px;font-weight: 600; font-size: large; display: flex; flex-direction: column; justify-content: center; height: 170px;"><span>Busca y elige entre secciones</span> <span>lo que quieres comparar.</span> <span>Luego selecciona dos elementos </span><span>de la seccion ya elegida</span> <span>Y ve sus diferencias!</span></p>
        </div>
        <div>
            <img style="height: 22vh; min-width: 100%;" src="../../../assets/esestajuju2.png" alt="Imagen">
        </div>
    </div>
</div>