
<div id="backgroundemybro">
    <img style="width: 100%; filter:brightness(25%);" src="/assets/fotomenuu.avif" alt="Imagen"/>
    <button class="btn bEnImg" (click)="seccionButton()" >Button</button>
    <p class="pEnImg"> Es un llamaaado, es ununun secreeeetooo entre tu mirada y la mia, un presentimiento que un angel me decía, flexin por la streeet aunque sus miradas estan en miiii, su culo se mueve swing como el fwing de ding de rongo pilimbo soy un farsante farsante, se que tu quieeeeereees se te notaaaaaaa aeeeeee aeeeeeee aeeeeeeeeeeeeeeee </p>
</div> 
<div>

</div>