#backgroundemybro{
    position: relative;
    text-align: center;
    color: aliceblue;
    width: 100%;
}

.bEnImg{
    position: absolute;
    top:40%;
    left: 46.5%;
}
.pEnImg{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}