<div id="loading" *ngIf="isAdmin==null">
    <h1>
      Autentificando
    </h1>
  </div>
  <div id="loading" *ngIf="isAdmin==false">
    <h1>
      Debe ser admin para ingresar a esta sección
    </h1>
  </div>

<div *ngIf="isAdmin">
    
    <button (click)="back()"> atrás </button>
    
    <div class="jflex place-content-center flex-row grid grid-rows-1 mb-10 mt-10" *ngIf="elemento">
        <div class="join-item"> Nombre: <input [(ngModel)]="elemento.nombre"> </div>
        <div class="join-item mt-10">img:<input [(ngModel)]="elemento.img"></div>
        <div class="join-item mt-10 ml-20"> Tags </div>
        <div class="join-item mt-10" *ngFor="let tag of elemento.tags">{{tag}} 
            <button id="delete" class="btn btn-circle" (click)="deleteTag(tag)" >
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            </button>
        </div>
        <button class="btn btn-info mt-10 w-80" (click)="changeAlertState('tag')" > Add Tag </button>
        <div>
            
        </div>
        <div class="join-item mt-10 ml-20"> Stats </div>
        <div class="join-item mt-10" *ngFor="let key of elemento.statsMap">
            {{key}}: <input [(ngModel)]="elemento.stats[key]">
            <button id="delete" class="btn btn-circle" (click)="deleteStat(key)">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" /></svg>
            </button>
        </div>
        <div >
            <button class="btn btn-info mt-10 w-80" (click)="changeAlertState('Stat')" > Add Stat </button>
        </div>
        <div class="join-item">
            <button class="btn btn-wide btn-success mt-20" (click)="Submit()">Guardar</button>
        </div>
    </div>
    
    <div role="alert" class="alert alert-info mt-10 mb-10" *ngIf="alertState!=''">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="stroke-info shrink-0 w-6 h-6"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path></svg>
    <span>
        Agregar {{alertState}}: <input [(ngModel)]="addName" (keydown)="addIterable($event)">        
    </span>
    <button class="btn btn-success" (click)="addIterable(null)">Agregar</button> <button class="btn btn-sm btn-primary w-20 h-12" (click)="changeAlertState('')">Cancelar</button>
</div>


</div>