<div> 
    <h1> Nombre </h1>
    <input>
    <h1>subdivisiones</h1>
    <div class="flex items-center">
        <details class="dropdown">
            <summary class="m-1 btn">open or close</summary>
            <ul class="p-2 shadow menu dropdown-content z-[1] bg-base-100 rounded-box w-52">
              <li><a>Item 1</a></li>
              <li><a>Item 2</a></li>
            </ul>
          </details>
        <button class="btn btn-circle ml-2">
            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12H20M12 4V20" /></svg>
        </button>    
    </div>
    <!--
        
        <h1>finales</h1>
        <div class="flex items-center">
            <input type="text" placeholder="Type here" class="input input-bordered input-secondary w-full max-w-xs" />
            <button class="btn btn-circle ml-2">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12H20M12 4V20" /></svg>
            </button>    
        </div>
    -->
</div>