<body>
    <div id="loading" *ngIf="isAdmin==null">
        <h1>
          Autentificando
        </h1>
      </div>
      <div id="loading" *ngIf="isAdmin==false">
        <h1>
          Debe ser admin para ingresar a esta sección
        </h1>
      </div>
    <div *ngIf="isAdmin">
        <h1> Nombre </h1>
        <input [(ngModel)]="nombre">
        <h1>subdivisiones</h1>
        <div class="flex items-center">
            <input type="text" placeholder="Type here" [(ngModel)]="subdivision" class="input input-bordered input-secondary w-full max-w-xs" />
            <button class="btn btn-circle ml-2" (click)="AddSubdivision()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12H20M12 4V20" /></svg>
            </button>    
        </div>
        <h1>Finales</h1>
        <div class="flex items-center">
            <input type="text" placeholder="Type here" [(ngModel)]="final" class="input input-bordered input-secondary w-full max-w-xs" />
            <button class="btn btn-circle ml-2" (click)="AddFinal()">
                <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12H20M12 4V20" /></svg>
            </button>    
        </div>
        <!--
            
            <h1>finales</h1>
            <div class="flex items-center">
                <input type="text" placeholder="Type here" class="input input-bordered input-secondary w-full max-w-xs" />
                <button class="btn btn-circle ml-2">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 12H20M12 4V20" /></svg>
                </button>    
            </div>
        -->
        <button type="submit" value="Submit" class="btn" (click)="Submit()" > </button>
    </div>
</body>